PORT=3000
JWT_SECRET=survivor_local_secret
JWT_EXPIRES_IN=7d
GM_SECRET=change_me_to_a_strong_gm_secret
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB_NAME=survivor
MONGODB_USER_COLLECTION=useraccounts
MONGODB_SAVE_COLLECTION=playersaves
MONGODB_MAIL_COLLECTION=playermails
MONGODB_CDKEY_COLLECTION=cdkeys
